@import url("ui.css");

.main {
    display: flex;
 
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.calculator, .history {
    display: grid;
    grid-template-columns: 300px; 
    grid-template-rows: 100px 1fr;
    width: 300px ;
    height:400px;
    border: 2px solid rgba(0, 0, 0, 0.199);
    border-radius: 5px;
    background-color: #222;
}

.calculator__input {
    min-width: 100%;
    margin: 30px 0;
}

.calculator__buttons {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "specific"  
        "numeral" "act"
    ;
}

.calculator__specific {
    margin: -10px 20px 0px;
    grid-area: "specific";
}

.calculator__act {
    margin: 0 20px 0;
    grid-area: "act";
}

.calculator__numeral {
    margin: 0 20px 0;
    grid-area: "numeral";
    width: 200px;
}

.history {
    display: flex;
    width: 600px;
    background-color: rgb(255, 225, 180);
}
.history__list{
    padding: 20px;
    width: 250px;
    font-size: 20px;
    color: rgb(71, 71, 71);
}

.history__clear {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.527);
 
}


@media (max-width: 992px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
    }
    .history {
        width: 450px;
    }
 
    body {
        /* background-color: rgb(0, 156, 8); */
    }
}

@media (max-width: 767px) {
    .history {
        width: auto;
    } 
    .main {            
        flex-wrap: wrap;
        width: 100%;
    }
    body {
        /* background-color: rgb(255, 251, 0); */
    }
}

@media (max-width: 550px) {
    
    .main {
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
        width: 100%;
    }
    body {
        max-width: 300px;
        max-height: 500px;
        background-color: rgb(0, 0, 0);
    }

    .calculator {
        display: grid;
        grid-template-columns: 100%; 
        grid-template-rows: 200px 1fr;
        width: 100%;
        height:100%;
        border: 2px solid rgba(0, 0, 0, 0.199);
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        margin-bottom: 50px;
    }
    .calculator__specific { 
        /* margin: 0px; */
        margin:  -10px 0px 0px 0px;
        grid-area: "specific";
    }
    .calculator__act {
        justify-content: center;
        align-items: center;
        margin:  -10px 0px 0px 0px;
        grid-area: "act";
    }
    .calculator__buttons {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 80px 1fr;
        grid-template-areas: 
            "specific"  
            "numeral" "act"
        ;
    }
    .calculator__numeral {
        margin: 0;
        grid-area: "numeral";
        width: auto;
    }

 /* UI */
    button {
        justify-content: center;
        align-items: center;
        margin: 5px;
        width: 80px;
        height: 80px;
        font-size: 30px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 50px;
        /* box-shadow:0px 0px 2px 1px  rgb(255, 255, 255);  */
        transition: ease-in-out 100ms;
        color: #fff;
        background-color: rgb(80, 80, 80);
        /*  box-shadow: +Слева +Снизу Рассеивание Вокруг*/
    }
    input {
        width: 100%;
        height: 100px;
        bottom: 0;
        font-weight: 100;
        font-size: 40px;
        color: #fff;
        border: 1px solid rgb(0, 0, 0);
        background-color: rgb(0, 0, 0); 
        padding: 0;
    }
    #clear {
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 300;
        background-color: rgb(161, 161, 161);
        color: #000;
    }

}