@import url("ui.css");
html {
  /* height: 100%;
  width: 100%; */
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
 
}
body {
  margin: 0px;
  height: 100vh;
  overflow: hidden;
}

.main {
  display: grid;
  grid-template-rows: [start] 100vh [row-end];
  grid-template-columns: [start] 4fr [col2]  minmax( 250px, 1fr) [col-end];
 
}

.calculator__input {
  color: #000;
}

nav {
}

.calculator {
 
/* 
  background-color: #eee;
  width: 376px ; 
  height:710px;
  border: 2px solid rgba(0, 0, 0, 0.199);
   border-radius: 5px; */
}

.calculator__specific {
}

.calculator__act {
}

.calculator__numeral {
}

.history {
  height: 100vh;
  display: block;
  border: 0.5px dashed red;
}

.history__list {
 
  width: 100%;
  border: 3px solid #888;
}

.history__clear {
}
/* WEB DESCTOP */
@media screen and (max-width: 992px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
  .history {
    width: 450px;
  }

  body {
    background-color: rgb(208, 255, 100);
  }
}
/* WEB DESCTOP */
@media screen and (max-width: 767px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
  .history {
    width: 450px;
  }

  body {
    background-color: rgb(255, 100, 100);
  }
}

input:disabled{  
  color:#fff;
  opacity: 1;
  -webkit-text-fill-color: #fff;
}
/* IPhone XR Rotate 90*/
@media only screen and (max-width: 992px) and (max-height: 500px) {
  .history {
    display: none;
  }
  .main {
    flex-wrap: wrap;
    width: 100%;
  }
  body {
    background-color: rgb(0, 0, 0);
  }
}

/* android J3 Rotate 90*/
@media only screen and (max-width: 767px) and (max-height: 500px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
  .history {
    display: none;
  }

  body {
    background-color: rgb(51, 51, 51);
  }
}

@media (max-width: 550px) {
  body {
    background-color: rgb(0, 0, 0);
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calculator {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-rows:
      minmax(150px, auto) /* 230px */
      minmax(468px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
      "input"
      "buttons";
  }
  .history {
    display: none;
  }
  .calculator__input {
    grid-area: "input";
    overflow: hidden;
    display: flex;
    align-self: end;
  }

  .calculator__buttons {
    grid-area: "buttons";
    display: grid;
    grid-template-columns: 279px 1fr;
    grid-template-rows: 88px 1fr;
    grid-template-areas:
      "specific act"
      "numeral act";
  }

  .calculator__specific {
    grid-area: "specific";
    display: flex;
    
  }
  .calculator__act {
    grid-area: "act";
    display: grid;
    grid-template: 1fr;
  }
  .calculator__numeral {
    padding: 2px;
    grid-area: "numeral";
  }

  /* UI */
  button {
    margin: 1px 2px 6px 0;
    align-items: center;
    width: 84px;
    height: 84px;
    font-size: 35px;
    border: 0.1px solid rgb(0, 0, 0);
    border-radius: 50px;
    transition: ease-in-out 100ms;
    color: #fff;
    /*  box-shadow: +Слева +Снизу Рассеивание Вокруг*/
  }
  input {
    margin: 20px -10px;
    height: 70px;
    text-align: right;
    font-weight: lighter;
    font-family: sans-serif;
    bottom: 0;
    width: 363px;
    padding: 0;
    font-size: 70px;
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
  }
  #clear,
  #percent,
  #split_plus {
    font-size: 30px;
    font-weight: 200;
    background-color: rgb(161, 161, 161);
    color: #000;
  }

  #clear,
  #percent,
  #split_plus,
  #split,
  #mult,
  #min,
  #plus,
  #enter {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #clear,
  #percent,
  #split_plus {
    margin: 0px 6px 0px 1px;
  }
}

@media (max-width: 375px) {
  .calculator {
    display: grid;
    grid-template-rows:
      minmax(150px, auto) /* 230px */
      minmax(300px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
      "input"
      "buttons";
  }
  .history {
    display: none;
  }
  .calculator__buttons {
    grid-area: "buttons";
    display: grid;
    grid-template-columns: 205px 1fr;
    grid-template-rows: 63px 1fr;
    grid-template-areas:
      "specific act"
      "numeral act";
  }
  button {
    margin: 1px 2px 6px 0;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: 0.1px solid rgb(0, 0, 0);
    border-radius: 50px;
    color: #fff;
  }

  #clear,
  #percent,
  #split_plus,
  #split,
  #mult,
  #min,
  #plus,
  #enter
  {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  #zero {
    width: 126px;
    text-align: left;
    padding-left: 21px;
  }

  input {
    margin: 20px 0;
    height: 70px;
    text-align: right;
    font-weight: lighter;
    font-family: sans-serif;
    bottom: 0;
    width: 250px;
    padding: 0;
    font-size: 47px;
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
  }
}
