

body,
ul {
  margin: 0;
  list-style: none;
}


/* UI */
button {
  cursor: pointer;

  width: 45px;
  height: 45px;
  font-size: 30px;
  /* border: 1px solid #aaa; */
  /* border-radius: 5px; */
  /* box-shadow:0px 0px 2px 1px  rgb(255, 255, 255);  */
  transition: ease-in-out 100ms;
  color: #fff;
  background-color: rgb(54, 54, 54);
  /*  box-shadow: +Слева +Снизу Рассеивание Вокруг*/
}

button:active {
  background-color: rgba(206, 206, 206, 0.247);
  box-shadow: 0px 0px 0px 0px #aaa;
}

#plus,
#min,
#mult,
#split,
#enter {
  background-color: rgb(255, 161, 20);
  color: #fff;
}

#clear {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(161, 161, 161);
  color: #000;
}
#zero {
  width: 175px;
  text-align: left;
  padding-left: 32px;
}


/* WEB DESCTOP 992px*/
/*
@media screen and (max-width: 992px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
 

  body {
    background-color: rgb(208, 255, 100);
  }
}
*/
/* WEB DESCTOP 767px*/
/*
@media screen and (max-width: 767px) {
 
 

  body {
    background-color: rgb(255, 100, 100);
  }
}

input:disabled{  
  color:#fff;
  opacity: 1;
  -webkit-text-fill-color: #fff;
}
*/